*,*::before,*::after{
margin:0;
padding:0;
box-sizing:border-box
}

body{
font-family:'Inter',sans-serif;
background:#0b0b0c;
color:#fff;
line-height:1.5
}

a{
text-decoration:none;
color:inherit;
cursor:pointer
}

.page{
display:none
}

.page.on{
display:block
}
